.delivery-item-cover{
    height: 190px;
    width: 260px;
    background-color: antiquewhite;
    box-shadow: rgb(0 0 0 / 8%) 0px 3px 12px;
    border-radius: 8px;
}
.item-image{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 8px;
}
.item-title{
    font-size: 20px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
}
